NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
CLERK_SECRET_KEY=sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
OPENAI_API_KEY=sk-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
DATABASE_URL="postgresql://user:password@host:port/database?sslmode=require&channel_binding=require"
BUYER_SECRET=XXXXXXXXXXXXX
APP_URL=XXXXXXXX
CRON_SECRET=XXXXXXXXXXXXX
NEXT_PUBLIC_FEEDBACK_URL=XXXXXXXX
NEXT_PUBLIC_SHIPPING_URL=XXXXXXXXXX
SELLER_API=XXXXXXXXXXXXX
PAYMENTS_API_URL=XXXXXXXXXXXXXXXX